[Unit]
Description=Gunicorn instance serve myproject
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flaskchess
Environment="PATH=/home/ubuntu/flaskchess/flask/bin"
ExecStart=/home/ubuntu/flaskchess/flask/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app

[Install]
WantedBy=multi-user.target
